<div id="main">
    <header>
        <nav>
            <ul class="ui vertical inverted menu">
                <li class="item tab-logo" data-tab="about">
                    <i></i>
                    <span>WandouLabs</span>
                </li>
                <li class="active item tab-sites" title="Sites" data-tab="sites">
                    <i>S</i>
                    <span>Sites</span>
                </li>
                <li class="item tab-demos" title="Demos" data-tab="demos">
                    <i>D</i>
                    <span>Demos</span>
                </li>
            </ul>
        </nav>
    </header>



    <article>
        <section id="sites" class="active">
            <ul>
                <% for(var i=0; i < siteList.length; i++) { %>
                    <li>
                        <a href="/site/<%= siteList[i] %>">
                            <figure>
                                <figcaption>Site <%= siteList[i] %></figcaption>
                                <img src="/pages/screenshots/sites/<%= siteList[i] %>.png">
                            </figure>
                        </a>
                    </li>
                <% } %>
            </ul>
        </section>

        <section id="demos">
            <ul>
                <% for(var i=0; i < demoList.length; i++) { %>
                    <li>
                        <a href="/demo/<%= demoList[i] %>">
                            <figure>
                                <figcaption>Demo <%= demoList[i] %></figcaption>
                                <img src="/pages/screenshots/demos/<%= demoList[i] %>.png">
                            </figure>
                        </a>
                    </li>
                <% } %>
            </ul>
        </section>
        <section id="about">
            <div id="about-wrap">
                <div id="about-cont">
                    <div>
                       <h2>说明</h2>
                       <p>截图放在 assets/public/screenshots/demos 和 assets/public/screenshots/sites  中， <br><br> 
                       把网站文件(img、js、css、index.html)放在 views/demo 和 views/site 中 ，<br><br>目录名为数字，按照 1、2、3 …… 的顺序递增。
                       </p>
                    </div>
                </div>
           </div>
        </section>
    </article>
</div>

<script type="text/javascript">
    $(function(){

        var main = $('#main');

        $('nav li').hover(function(){
            main.addClass('showNav');
        }, function(){
            main.removeClass('showNav');
        })

        $('nav').on('click', 'li:not(.active)', function(){
            var $t = $(this);
            var tab = $t.data('tab');
            $t.addClass('active').siblings('li').removeClass('active');
            $('section').removeClass('active').hide();
            $('#' + tab).addClass('active').show();

            $('section').animate({scrollTop:0},0);
        })
    })

</script>